PORT=8000
MONGODB_URI=mongodb+srv://<user>:<password>@host
CORS_ORIGIN=*


CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-cloud-api-key"
CLOUDINARY_API_SECRET="your-cloud-api-secret"

ACCESS_TOKEN_SECRET=secretkeyhere
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET=secretkeyhere
REFRESH_TOKEN_EXPIRES_IN=10d